{{> layout/header}}

<div class="container p-5">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th></th>
        </tr>
        </thead>

        {{#boardList}}
            <tbody>
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{username}}</td>
                <td>
                    <div class="d-flex">
                        <form action="/board/{{id}}/delete" method="post">
                            <button class="btn btn-danger">삭제</button>
                        </form>
                        <form action="/board/{{id}}/updateForm" method="get">
                            <button class="btn btn-warning">수정</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        {{/boardList}}
    </table>

    <ul class="pagination d-flex justify-content-center">
        <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
        <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
    </ul>

</div>

{{> layout/footer}}